


<body>
    <nav class="footer">
      <div class="logoName">
        <img  id="footerLogo" src="https://i.imgur.com/N2rnKTk.png">
        <p>FeetWasher</p>
      </div>
      <div>
        Created in Dec 2022 by Josh Lewis
      </div>
    </nav>
</body>